.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background: var(--hero-bcg);
  padding: 20px 0px;
  transition: padding var(--timing);

  // @media screen and (min-width: 1280px) {
  //   padding: 40px 20px;
  // }
}

.header.fixed {
  padding: 10px 0px;
}

.nav__container {
  width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    justify-content: left;
  }
}

.logo {
  margin-right: 16px;

  & img {
    width: 148px;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__icon {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 30;
}

.nav__link {
  font-size: 14px;
  font-family: OpenSans;
  color: var(--white);
  text-decoration: none;
  transition: var(--timing);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transform: translateX(-50%);
    transition: width 0.5s;
  }

  &:hover::after {
    width: 100%;
  }
}

.open {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .menu__icon {
    display: block;
    cursor: pointer;
    z-index: 30;
    position: relative;
  }

  .nav__list {
    display: none;
  }

  .open {
    display: flex;
  }
}

.btnSignIn {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: OpenSans;
  color: var(--white);
  text-decoration: none;
  transition: var(--timing);
  position: relative;
  line-height: 1;
  padding: 0;
  margin-left: 40px;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transform: translateX(-50%);
    transition: width 0.5s;
  }

  &:hover::after {
    width: 100%;
  }
}

.btnRegister {
  border: none;
  background-color: #3b6ec9;
  border-radius: 6px;
  font-size: 14px;
  font-family: OpenSans;
  color: var(--white);
  padding: 6px 40px;
  margin-left: 40px;

  &:focus,
  &:hover {
    background-color: var(--white);
    color: var(--blue);
  }

  &::after {
    display: none;
  }
}
