.button {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: var(--button-text);
  border: none;
  border-radius: 33px;
  background-color: var(--white);
  padding: 14px 20px;
  transition: var(--timing);

  & span {
    font-weight: 700;
  }

  &:hover {
    color: var(--white);
    background-color: var(--button-hover);
  }
}