.loginFormContainer {
  width: 420px;
  padding: 48px;
}

.formTitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 18px;
    line-height: 24px;
  }
}

.authScreenNavigation {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #888888;
}

.authScreenNavigationBtn {
  border: none;
  background-color: transparent;
  color: var(--blue);
  transition: color var(--timing);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus,
  &:hover {
    color: #ffc107;
  }
}
