.appWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: var(--app-wrapper);
    padding-left: 64px;
    transition: padding var(--timing);

    &__active {
        padding-left: 250px;
    }
}