.stocksWrapper {}

.stocksHeader {
    padding: 20px 10px;
}

.stocksTitle {
    font-size: 18px;
    color: #fff;
}

.stocksInputWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #2c3040;
    padding: 20px 10px;
    border-radius: 4px;
}

.stocksInput {
    font-size: 16px;
    color: #fff;
    background-color: #444c5e;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px;
    transition: border 0.3s;

    &::placeholder {
        color: #fff;
    }

    &:hover,
    &:active {
        border: 1px solid #757b8c;
    }
}

.stocksInputBtn {
    font-size: 16px;
    color: #fff;
    background-color: #444c5e;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px;

    &:hover,
    &:active {
        border: 1px solid #757b8c;
    }
}

.stocksInputBtnDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Стилі для таблиці акцій */
.stocksTable {
    width: 100%;
    border-collapse: collapse;
}

/* Стилі для заголовка таблиці */
.stocksTableThead {
    background-color: #252a35;
    /* Колір заголовка таблиці */
}

.stocksTableThead tr:nth-child(odd) {
    background-color: #2c3040;
    /* Колір першого рядка заголовка */
}

.stocksTableThead tr:nth-child(even) {
    background-color: #272b39;
    /* Колір другого рядка заголовка */
}

.stocksTableThead th {
    padding: 20px 20px;
    text-align: left;
    color: #fff;
    background-color: #272b39;
}

/* Стилі для тіла таблиці */
.stocksTableTbody {
    background-color: #252a35;
    /* Колір тіла таблиці */
}

.stocksTableTbody tr:nth-child(odd) {
    background-color: #2c3040;
    border-bottom: 1px solid #464957;
    /* Колір першого рядка тіла */
}

.stocksTableTbody tr:nth-child(even) {
    background-color: #272b39;
    border-bottom: 1px solid #464957;
    /* Колір другого рядка тіла */
}

.stocksTableTbody td {
    padding: 10px;
    color: #fff;
}

// Popup
.tooltipIcon {
    width: 14px;
    height: 14px;
    fill: white;
    cursor: pointer;
    margin-left: 5px;
}

.tooltipContent {
    max-width: 300px;
    font-size: 13px;
    color: #fff;
    background-color: #1d1f29;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}