.analyticsDashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.analyticsDashboard__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.analyticsDashboard__value {
    font-family: "Inter";
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    padding-top: 10px;
}