.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  // Mobile
  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // Tablet
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  // Desktop
  @media screen and (min-width: 940px) {
    max-width: 940px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.joinInvestors {
  background-image: url('../../images/home-page/join-investors/map.png');
  background-position: center 32px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 200px 0 20px;

  @media screen and (min-width: 768px) {
    padding: 310px 0 78px;
  }

  @media screen and (min-width: 940px) {
    padding: 278px 0 220px;
  }
}

.joinInvestors__title {
  color: var(--text-grey);
  font-family: "Gilroy Semibold";
  font-size: 26px;
  letter-spacing: 0;
  margin: 0 auto 16px;

  & span {
    color: var(--text-blue);
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto 32px;
  }
}

.joinInvestors__btn {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  border: 2px solid var(--text-blue);
  border-radius: 33px;
  background-color: var(--text-blue);
  padding: 10px;
  transition: var(--timing);

  & span {
    font-weight: 700;
  }

  &:hover {
    color: var(--blue);
    background-color: var(--white);
  }

  @media screen and (min-width: 768px) {
    padding: 14px 60px;
  }
}