.dashboard__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    background-color: #0a0d19;
    border-radius: 4px;
    padding: 20px 40px;
}

.dashboard__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 15px;
}

.dashboard__item {
    flex: 1 1 100%;
    padding: 0px 18px;

    &.border {
        border-left: 1px solid rgba(255, 255, 255, .2);
    }
}

.dashboard__value {
    font-family: "Gilroy Bold";
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 32px;
}

.dashboard__dashConteiner {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dashboard__dashIcon {
    width: 40px;
    height: 40px;
}

.greenText {
    color: rgb(0, 255, 0);
}

.redText {
    color: rgb(255, 0, 0);
}

.greenText::after {
    content: "▲";
    color: green;
}

.redText::after {
    content: "▼";
    color: red;
}

// Popup
.tooltipIcon {
    width: 14px;
    height: 14px;
    fill: white;
    cursor: pointer;
    margin-left: 5px;
}

.tooltipContent {
    max-width: 300px;
    font-size: 13px;
    color: #fff;
    background-color: #1d1f29;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}